<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id = "com.solsort.morse-code"
        version = "0.0.0">

    <name>Morse code</name>
    <shortdescription>Learn morse code tap practise</shortdescription>
    <description>
      
      Learn to write morse code by practising tapping individual words.
    
      - focus is on learning to write/send morse code
      - keeps track of how many characters you know (your level)
      - practise a whole word at a time (choosen automatically to contain characters you know)
      - if you fail morsing a word, it will show what to morse, and let you try again
      - inspired by Farnsworth's and Koch's morse teaching method
    
      I created this app because I want to be able to enter text / write on the smartphone without looking at it, and learning morse code seems to be the easiest way to do that.
    
    Hope it will be useful for you too.</description>
    <icon src="icon.png" />
    <author href="http://solsort.com" email="morse-code@solsort.com">Rasmus Erik Voel Jensen (solsort.com)</author>
    <!--splash src="www/assets/splash.png" /-->

    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />

    <preference name="orientation" value="default" />
    <preference name="permissions" value="none" /> 
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="fullscreen" value="false" />
    <preference name="DisallowOverscroll" value="false" />

    <!--feature name="http://api.phonegap.com/1.0/network" />
    <feature name="http://api.phonegap.com/1.0/camera" />
    <feature name="http://api.phonegap.com/1.0/notification" />
    <feature name="http://api.phonegap.com/1.0/geolocation" />
    <feature name="http://api.phonegap.com/1.0/media" />
    <feature name="http://api.phonegap.com/1.0/contacts" />
    <feature name="http://api.phonegap.com/1.0/file" />
    <feature name="http://api.phonegap.com/1.0/battery" />
    <feature name="http://api.phonegap.com/1.0/device" /-->

 
    <engine name="android" />
    <platform name="android">
       <preference name="android-installLocation" value="internalOnly" /> 
       <!--preference name="android-windowSoftInputMode" value="stateVisible|adjustResize" /--> 
    </platform>

    <!--engine name="ios" />
    <platform name="ios">
        <preference name="target-device" value="universal" />
        <preference name="prerendered-icon" value="false" />
        <preference name="ios-statusbarstyle" value="black-opaque" />
        <preference name="detect-data-types" value="false" />
        <preference name="exit-on-suspend" value="false" />
        <preference name="deployment-target" value="7.0" />
    </platform-->

    <engine name="browser" />
    <engine name="ubuntu" />

    <!--
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    ios:
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    android:
        <allow-intent href="market:*" />

    -->
</widget>
