<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id = "com.solsort.morse-code"
        version = "0.0.0">

    <name>Morse code</name>
    <shortdescription>Learn morse code tap practise</shortdescription>
    <description>
      
      Learn to write morse code by practising tapping individual words.
    
      - focus is on learning to write/send morse code
      - keeps track of how many characters you know (your level)
      - practise a whole word at a time (choosen automatically to contain characters you know)
      - if you fail morsing a word, it will show what to morse, and let you try again
      - inspired by Farnsworth's and Koch's morse teaching method
    
      I created this app because I want to be able to enter text / write on the smartphone without looking at it, and learning morse code seems to be the easiest way to do that.
    
    Hope it will be useful for you too.</description>
    <icon src="icon.png" />
    <author href="http://solsort.com" email="morse-code@solsort.com">Rasmus Erik Voel Jensen (solsort.com)</author>
    <preference name="phonegap-version" value="3.3.0" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="false" />
    <preference name="prerendered-icon" value="true" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="false" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="android-minSdkVersion" value="10" />
    <preference name="android-installLocation" value="auto" />
    <preference name="permissions" value="none" />
    
    
    <access origin="*" />
</widget>
